nav .menu {
    margin-left: 20px;
}

a {
    background-color: #2F4050;
    border-bottom: 1px solid #293846;
    color: white;
    padding: 10px 5px;;
    display: block;
    cursor: pointer;
}

a:hover, a:active, a:link, a:visited {
    color: white;
    text-decoration: none;
}

ul[data-level='0'] > li > a {
    padding-left: 20px;
}

ul[data-level='1'] > li > a {
    padding-left: 40px;
}

ul[data-level='2'] > li > a {
    padding-left: 60px;
}

ul[data-level='3'] > li > a {
    padding-left: 80px;
}

.active {
    border-left: 5px solid #18A689;
    transition: .2s;
}